*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
/* COMMON */
.container-full{
    width: 100%;
}
.container-sm{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}
.container-mid{
    max-width: 1300px;
    margin: 0 auto;
}
.margintop-90{
    margin-top: 90px;
}
.row{
    display: flex;
    width: 100%;
}
.col-50{
    width: 50%;
}
.col-100{
    width: 100%;
}
.col-40{
    width: 40%;
}
.col-60{
    width: 60%;
}
.col-30{
    width: 30%;
}
.col-33{
    width: calc(100% / 3);
}
.col-20{
    width: calc(100% / 5);
}
.border-grey{
    border: 1px solid lightgrey;
}
hr{
    color: lightgrey
}
ul{
    list-style: none;
}
li{
    padding: 20px;
}
.d-flex{
    display: flex;
    align-items: center;
}
.justify-right{
    justify-content: right;
}

.wrap{
    flex-wrap: wrap;
}
.bg-blue{
    background-color: #0061fe;
}
.font-white{
    color: #fff;
}
.margintop-50{
    margin-top: 50px
}
.padd-left{
    padding-left: 20px;
}
.fsize-l{
    font-size: large;
}
.no-border{
    border: none
}
.bold{
    font-weight: bold;
}
.font-blue{
    color:#0061fe
}
.short-hr{
    width: 20%;
}
/* HEADER */
.signup-header{
    padding: 7px 15px
}
/* MAIN  */
h1{
    font-size: 90px;
    font-weight: 900;
    padding: 0 20px;
}

.bg-lightcyan{
    background-color: #b4d0e7;
    padding: 20px 0;
}
.img{
    width: 100%;
}
#button-jumbo{
    margin: 30px 0px;
    padding: 10px 20px;
}
.sp-between{
    justify-content: space-between;
}
h2{
    padding-bottom: 30px;
    font-size: 48px;
}
.name-card{
    text-align: center;
    padding: 10px;
}
.card{
    padding: 30px;
}
.title-card{
    font-size: x-large;
    padding-bottom: 15px;
}
.price{
    padding-bottom: 10px;
}
.list-card{
    padding: 40px 0;
}
.li-card{
    padding: 10px 0;
}
.button-card{
    width: 100%;
    padding: 10px 0;
}
.margin-y-30{
    margin: 30px 0;
}
.margin-y-50{
    margin: 50px 0;
}
.col-70{
    width: 70%;
}
.margin-y-100{
    margin: 100px 0;
}
.content-capt{
    padding: 50px;
}
.title-capt{
    font-size: x-large;
    line-height: 1.6;
    margin-bottom: 15px;
}
.bg-white{
    background-color: #fff;
}
.button-capt{
   padding: 10px 15px;
   margin: 30px 0; 
}
.fszize-xxxl{
    font-size: 48px;
}
.title-biz-ft{
    font-size: x-large;
    margin-bottom: 30px;
}
.quote{
    padding: 75px 0;
    padding-right: 250px;
}
.squares-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.square{
    width: 50%;
    height: calc(100vw / 6);
    position: relative;
}
.bg-lightgreen{
    background-color: #a2d39b
}
.bg-darkpink{
    background-color: #61082b
}
.bg-bluette{
    background-color: #0093ce
}
.bg-red{
    background-color: #ff1c1c
}
.bg-lightgrey{
    background-color: #f5f5f5
}
.bg-darkred{
    background-color: #d5001f 
}
.bg-paleblue{
    background-color: #b4d0e7
}
.bg-blue{
    background-color: #0d2481 
}
.bg-yellow{
    background-color: #ffd830;
}
.square-img{
    width: 50%;
}
.white-logo{
    filter: invert();
}
.pabsolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.padding-50{
    padding: 50px;
}
.font-darkpink{
    color: #61082b
}
.button-30{
   width: 100%;
   padding: 12px 0;
   margin-top: 15px;
}
.marginbot-100{
    margin-bottom: 100px;
}
.padding-y-30{
    padding: 30px 0;
}
.border-top-bot{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* FOOTER */
footer{
    background-color: #000;
    padding: 30px 0;
}
.fsize-28{
    font-size: 28px;
}
footer li{
    padding: 10px;
}
footer h4{
    padding: 20px 0px;
}
.mini-hr{
    width: 10%;
}